


{% block head %}

<title>Annual Report</title>
<style>
      body {
        background-image: url('static/css/bg2.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
      }
    </style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='css/fav1.png') }}">
{% endblock %}

{% block body %}
<div class="content">
    <img href="{{ url_for('static', filename='bg.jpg') }} " />
    <h1 style="text-align: center">Annual Report Analysis</h1>
        <form style="text-align: center; " action="/report" method="POST" autocomplete="off" >
            <label>Link:</label>
            <input type="text" name="link" id="link" size="60">
            <input type="submit" value="Submit">
        </form>
</div>
{% endblock %}